<mat-card>
    <mat-card-title>Prospects</mat-card-title>

    <div *ngIf="prospects">
        <app-prospect-results [prospects]="prospects"></app-prospect-results>
    </div>

    <mat-form-field>
        <input [(ngModel)]="prospectSearch" matInput placeholder="Describe your ideal prospect">
    </mat-form-field>
    <span>Risk Profile</span>
    <mat-slider min="1" max="3" step="1" thumbLabel>
        <input value="{{riskProfile}}" matSliderThumb>
    </mat-slider>
    <span>Age Range</span>
    <mat-slider min="14" max="99" step="1" thumbLabel>
        <input value="{{minAge}}" matSliderStartThumb>
        <input value="{{maxAge}}" matSliderEndThumb>
    </mat-slider>    

    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="prospectSearch.length === 0" (click)="findProspects()">Find</button>
    </mat-card-actions>
</mat-card>