<mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
      <app-chat-configuration [chatRequest]="chatRequest"></app-chat-configuration>
    </mat-drawer>
    <mat-card>
        <mat-card-title>Chat with GenWealth</mat-card-title>
        <app-sql-statement [query]="query">Chat Response:</app-sql-statement>
        <div class="response" *ngIf="chatResponse" innerHtml="{{chatResponse}}" class="chat-response"></div>
        <mat-form-field>
            <input matInput [(ngModel)]="chatRequest.prompt" type="text" [placeholder]="chatPlaceholder">
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="chatRequest.prompt.length === 0" 
                (click)="askQuestion()">Chat</button>
            <mat-slide-toggle [(ngModel)]="chatRequest.advanced">
                Advanced
            </mat-slide-toggle>
        </mat-card-actions>
    </mat-card>
</mat-drawer-container>