<div *ngIf="chatRequest" class="example-container">

    <mat-form-field>
        <mat-label>Prompt</mat-label>
        <input matInput [(ngModel)]="chatRequest.prompt" type="text" floatLabel="always" disabled="true">
    </mat-form-field>

    <mat-form-field>
        <mat-label>User Id</mat-label>
        <input matInput [(ngModel)]="chatRequest.userId" type="text" floatLabel="always">
        <mat-slide-toggle style="margin-top: 10px;" [disabled]="!chatRequest.userId" [(ngModel)]="chatRequest.useHistory">Use History</mat-slide-toggle>
    </mat-form-field>

    
    <!-- <mat-form-field floatLabel="always"> -->
        
        <!-- <textarea matInput hidden></textarea>
      </mat-form-field> -->
    

    <mat-form-field>
        <mat-label>LLM Role</mat-label>
        <input matInput [(ngModel)]="chatRequest.llmRole" type="text" floatLabel="always">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Mission</mat-label>
        <input matInput [(ngModel)]="chatRequest.mission" type="text" floatLabel="always">
    </mat-form-field>    

    <mat-form-field>
        <mat-label>Output Instructions</mat-label>
        <input matInput [(ngModel)]="chatRequest.outputInstructions" type="text" floatLabel="always">
    </mat-form-field>    

    <mat-form-field>
        <mat-label>Response Restrictions</mat-label>
        <input matInput [(ngModel)]="chatRequest.responseRestrictions" type="text" floatLabel="always">
    </mat-form-field>    

    <mat-form-field>
        <mat-label>Disclaimer</mat-label>
        <input matInput [(ngModel)]="chatRequest.disclaimer" type="text" floatLabel="always">
    </mat-form-field>    

</div>
