<mat-card>
    <mat-card-title>Prospectus</mat-card-title>
    <mat-tab-group>        
        <mat-tab label="Search">
            <div>
                <!-- Search widget element is not visible by default -->
                <gen-search-widget
                    configId="8cb387aa-cc8b-4c1b-984a-0ea32285eebc"
                    triggerId="searchWidgetTrigger">
                </gen-search-widget>
            </div>            
            <div class="search-container">
                <app-ticker-autocomplete (tickerSelected)="setSearchTicker($event)"></app-ticker-autocomplete>
                <mat-form-field class="search-field">
                    <mat-label>Search Query</mat-label>
                    <textarea cdkTextareaAutosize matInput [(ngModel)]="searchQuery" 
                        (keydown.enter)="search()" 
                        [disabled]="searching"
                        placeholder="Search"></textarea>
                        <mat-icon matTooltip="Sample suggestion" (click)="getSuggestion()" matSuffix fontSet="material-symbols-outlined">
                    prompt_suggestion
                </mat-icon>

                </mat-form-field>
            </div>
            <div class="results-container" *ngIf="showResults">
                <mat-card class="results-card">
                    @if (searching) {
                        <mat-spinner class="search-spinner"></mat-spinner>
                    } @else {                    
                        <mat-card-title>Vertex Search & Conversation</mat-card-title>
                        <mat-card-subtitle>Managed Service</mat-card-subtitle>
                        <div class="summary-results" [innerHTML]="summary | textToHtml"></div>
                    }
                </mat-card>
                <div class="results-spacer"></div>
                <mat-card class="results-card">
                    @if (ragSearching) {
                        <mat-spinner class="search-spinner"></mat-spinner>
                    }
                    @else {                                        
                        <mat-card-title>Databases + Vertex</mat-card-title>
                        <mat-card-subtitle>Platform with Gemini Models</mat-card-subtitle>
                        <app-sql-statement [query]="ragPrompt">See Prompt</app-sql-statement>
                        <div class="summary-results" [innerHTML]="ragSummary | textToHtml"></div>
                    }
                </mat-card>
            </div>
            <button mat-raised-button color="primary" class="search-button"
                 [disabled]="!searchTicker || !searchQuery || searching" 
                (click)="search()">Search</button>
                <!-- Element that opens the widget on click. It does not have to be an input -->
            <button class="mdc-button mat-mdc-raised-button vertex-button" id="searchWidgetTrigger">
                Use Widget
            </button>
        </mat-tab>
        <mat-tab label="Upload">
            <div class="upload-container">
                @if (uploading) {
                    <mat-spinner class="uploading-spinner"></mat-spinner>
                }
                @else {
                    @if (uploaded) {
                        <p>Successfully uploaded prospectus for [{{uploadTicker}}].</p>
                        <button mat-raised-button color="primary" (click)="reset()">Upload Another</button>
                    } @else {
                        <p>Provide a ticker symbol and select a prospectus to upload.</p>
                        <mat-form-field class="ticker" >
                            <input matInput [(ngModel)]="uploadTicker" placeholder="Ticker">
                        </mat-form-field>
                        <input type="file" class="file-input" (change)="uploadProspectus($event)" #fileUpload>
                        <button mat-mini-fab color="primary" class="upload-button" 
                            [disabled]="!uploadTicker" (click)="fileUpload.click()">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    }
                }
            </div>
        </mat-tab>        
    </mat-tab-group>        
</mat-card>
