<mat-card>
    <mat-card-title>Prospectus</mat-card-title>
    <mat-tab-group>
        <mat-tab label="Upload">
            <div class="upload-container">
                <p>Provide a ticker symbol and select a prospectus to upload.</p>
                @if (uploaded) {
                    <p>Successfully uploaded prospectus for [{{ticker}}].</p>
                    <button mat-raised-button color="primary" (click)="reset()">Upload Another</button>
                } @else {
                    <mat-form-field class="ticker" >
                        <input matInput [(ngModel)]="ticker" placeholder="Ticker">
                    </mat-form-field>
                    <input type="file" class="file-input" (change)="uploadProspectus($event)" #fileUpload>
                    <button mat-mini-fab color="primary" class="upload-button" 
                        [disabled]="!ticker" (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                }
            </div>
        </mat-tab>        
        <mat-tab label="Search">
            {{summary}}
            <div>
                <input matInput [(ngModel)]="ticker" placeholder="Search">
                <input matInput [(ngModel)]="searchQuery" placeholder="Search">
                <button mat-raised-button color="primary" [disabled]="!ticker || !searchQuery" 
                    (click)="search()">Search</button>
            </div>
            <div>
                <!-- Search widget element is not visible by default -->
                <gen-search-widget
                    configId="8cb387aa-cc8b-4c1b-984a-0ea32285eebc"
                    triggerId="searchWidgetTrigger">
                </gen-search-widget>

                <!-- Element that opens the widget on click. It does not have to be an input -->
                <button class="mdc-button mat-mdc-raised-button vertex-button" id="searchWidgetTrigger">
                    Use Widget
                </button>
            </div>
        </mat-tab>
    </mat-tab-group>        
</mat-card>
